<h2>Concerts</h2>
<div class="container">
  <div class="content">
    <h3>All concerts</h3>
    <%= flash_message %>

    <%= link_to("Add a new concert", new_concert_path) %>

    <%= render '/shared/concerts_list' %>

  </div>
</div>