<!DOCTYPE html>
<html>
<head>
  <title>Musiconcerts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <head>musiconcerts</head>

  <%= yield %>

  <footer>by Christian de Barrio 2015®. Ruby On Rails.</footer>
</body>
</html>
